h1{
    text-align: center;
    color:#30336B;
    font-family: fantasy;
    font-size: 40px;
    position: absolute;
    top:10px;
    left:600px;
    }
    h2{

        text-align: center;
        color:#30336B;
        font-family: fantasy;
        font-size: 40px;
        position: absolute;
        top:100px;
        left:500px;

    }