
  html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #000;
  }
  .wrapper{
    height: 530px;
    width: 410px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    position: absolute;
    left:550px;
    top:180px;
    animation: animate 1.5s linear infinite;
  }
  @keyframes animate {
    100%{
      filter: hue-rotate(360deg);
    }
  }


  .display{
    position: absolute;
  top: 67%;
  left: 49.9%;
  transform: translate(-50%, -50%);
  z-index: 55555;
  height: 520px;
  width: 412px;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;

  }
  .signIn{
    color: white;
    position: absolute;
    top:90px;
    font-size: 30px;
    left:140px;
}
  
   .mailIn{

    position: absolute;
    top:160px;
    right: 35px;
    height: 45px;
    width:330px ;
    border: 2px solid whitesmoke;
    background: #1b1b1b;
    border-radius: 7px;
    color:white;
    padding: 3px;

   }
   .passwordIn{
    position: absolute;
    top:240px;
    right: 35px;
    height: 45px;
    width:330px ;
    border:0.5px solid whitesmoke;
    background: #1b1b1b;
    border-radius: 7px;
    color:white;
    padding: 3px;
  }
  .checkboxIn{
    position: absolute;
    top:310px;
    left: 33px;
    width: 20px;
  }
  .wantIn{
    color: white;
    position: absolute;
        top:308px;
        left: 60px;
      }
      .btnIn{
        position: absolute;
        top:350px;
        right: 35px;
        height: 45px;
        width:330px ;
        border: 2px solid whitesmoke;
        background:#90CAF9; 
        border-radius: 10px;
        color:#1B1B1B;
        padding: 3px;
        font-size: 20px;
      }
      .btnIn:hover{
          color:blue;
          font-size: 30px;
      } 
      .forgotIn{
        color:#90CAF9;
        position: absolute;
        top:400px;
        left: 30px;
        font-size: 15px;
  }
  .hrefIn{
    position: absolute;
        top:400px;
        right: 30px;
        font-size: 15px;
  }

    .footerIn{
    color:#90CAF9;
    position: absolute;
        top:500px;
        right: 120px;
        font-size: 12px;
  }
    